notebook/.ipynb_checkpoints/
.pytest_cache/
result/
lab/
tmp/
back_up/
.idea/
paper/

example/cluster_models/
example/server_models/
example/result_cluster
example/result_server
example/result_local
example/script_cluster
example/script_local
example/script_server
example/demo
example/case
example4cognitive_diagnosis/cluster_models/
example4cognitive_diagnosis/server_models/
example4cognitive_diagnosis/result_cluster
example4cognitive_diagnosis/result_server
example4cognitive_diagnosis/result_local
example4llm_based_agent/demo

/example/demo/*.csv
/example/keys.py
/example/demo/keys.py
/example/settings.json
/example/translate_xes3g5m.py
/settings.json
/*.ipynb
/note.md
/bug2fix.txt
/example/lab_result.txt
/example/record.txt
/.DS_Store
/freeze.yml
/requirements.txt
/keys.json


# future to open
/example/prepare_dataset/our_setting_ood_by_country4slepemapy.py
/example/prepare_dataset/our_setting_ood_by_school.py
/prompt_template/our