notebook/.ipynb_checkpoints/
.pytest_cache/
result/
lab/
example/script_cluster
example/result_cluster
.idea/

/example/demo/*.csv
/*.ipynb
/note.md
/git_usage.txt
/bug2fix.txt
/example/lab_result.txt
/example/record.txt
