notebook/.ipynb_checkpoints/
.pytest_cache/
result/
lab/
tmp/
back_up/
.idea/
paper/

example/cluster_models/
example/server_models/
example/result_cluster
example/result_server
example/result_local
example/script_cluster
example/script_local
example/script_server
example/demo
example/case
example4cognitive_diagnosis/cluster_models/
example4cognitive_diagnosis/server_models/
example4cognitive_diagnosis/result_cluster
example4cognitive_diagnosis/result_server
example4cognitive_diagnosis/result_local
example4llm_based_agent/demo
example4llm_expolre/demo

/example/demo/*.csv
/example/keys.py
/example/demo/keys.py
/example/settings.json
/example/translate_xes3g5m.py
/settings.json
/*.ipynb
/note.md
/bug2fix.txt
/example/lab_result.txt
/example/record.txt
/.DS_Store
/freeze.yml
/requirements.txt
/keys.json


# future to open
/example/prepare_dataset/our_setting_ood_by_country4slepemapy.py
/example/prepare_dataset/our_setting_ood_by_school.py
/prompt_template/our

# not published method
/example/train/adv_contrast_vae.py
/example/train/akt4cold_start.py
/example/train/akt_adv_data_aug.py
/example/train/akt_cluster_cl.py
/example/train/akt_duo_cl.py
/example/train/akt_instance_cl.py
/example/train/akt_meta_optimize_cl.py
/example/train/akt_output_enhance.py
/example/train/aux_info_dct.py
/example/train/aux_info_dct_backup.py
/example/train/aux_info_qdkt.py
/example/train/dct.py
/example/train/dct_backup.py
/example/train/dimkt_instance_cl.py
/example/train/dimkt_max_entropy_aug.py
/example/train/dimkt_mutual_enhance4long_tail.py
/example/train/dimkt_output_enhance.py
/example/train/elmkt.py
/example/train/idct.py
/example/train/lbmkt.py
/example/train/lpkt_max_entropy_aug.py
/example/train/lpkt_plus.py
/example/train/qdkt_cluster_cl.py
/example/train/qdkt_dro.py
/example/train/qdkt_duo_cl.py
/example/train/qdkt_instance_cl.py
/example/train/qdkt_instance_cl_srs.py
/example/train/qdkt_matual_enhance4long_tail.py
/example/train/qdkt_max_entropy_aug.py
/example/train/qdkt_meta_optimize_cl.py
/example/train/qdkt_output_enhance.py
/example/train/simple_kt_cluster_cl.py
/example/train/simple_kt_instance_cl.py
/example/train/akt_max_entropy_aug.py


/example/case_study.py
**/__pycache__